body {
	padding: 0;
	margin: 0;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: sans-serif;
	border-left: 2px solid #0090F0;
	border-right: 2px solid #0090F0;
}
a {
	text-decoration: none;
	color: #fff;
}
.menu {
	width: 100%;
	background: #4D4D4D;
	color: #EAEAEA;
	display: flex;
	justify-content: flex-end;
	height: 44px;
	border-bottom: 2px solid #0090F0;
	border-top: 2px solid #0090F0;
	position: relative;
}
.menu img {
	height: 100%;
	position: absolute;
	left: 10px;
}
.menu ul {
	position: relative;
	top: -5px;
}
.menu li {
	display: inline-block;
}
.menu li a {
	padding: 10px 25px;
	font-size: 20px;
	color: #fff;
	transition: 0.2s;
}
.menu li a:hover {
	background: #727272;
}
.content {
	padding: 5px 20px;
	background: #F0F0F0;
}
.content p {
	text-indent: 4%;
	line-height: 2;
	font-size: 18px;
}
.content h2 {
	display: inline-block;
	color: #A1A1A1;
}
.content img {
	float: left;
	margin-right: 15px;
}
.content ol {
	margin-left: 150px;
	line-height: 2;
	font-size: 18px;
	color: #FF8423;

}
.vasko {
	font-weight: bold;
}
.we_know {
	text-decoration: underline;
}
.lol {
	color: #00FFAA;
}
.typ li {
	display: inline-block;
	margin-left: 140px;
	color: #fff;
	position: relative;
}
.typ li:before {
	position: absolute;
	left: -70px;
	top: -25px;
}
.typ .li1:before {
	content: url(icon5.png);
}
.typ .li2:before {
	content: url(icon6.png);
}
.typ .li3:before {
	content: url(icon7.png);
}
.typ .li4:before {
	content: url(icon8.png);
}
.norm {
	background: linear-gradient(45deg, #FF6161, #00C9FF);
	margin: 0;
	padding-bottom: 20px;
}
.norm h1{
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}
.line {
	width: 100%;
	height: 2px;
	background: linear-gradient(45deg, #FF6161, #00C9FF);
}
.line1 {
	width: 100%;
	height: 2px;
	background: linear-gradient(45deg, #00C9FF, #FF6161);
}
